// @font-face {
//   font-family: 'roboto_300';
//   src: url('../fonts/Roboto-Light.ttf') format('truetype');
// }
// @font-face {
//   font-family: 'roboto_400';
//   src: url('../fonts/Roboto-Regular.ttf') format('truetype');
// }
// @font-face {
//   font-family: 'roboto_500';
//   src: url('../fonts/Roboto-Medium.ttf') format('truetype');
// }
// @font-face {
//   font-family: 'roboto_600';
//   src: url('../fonts/Roboto-Bold.ttf') format('truetype');
// }
// _____________________________________________________________
@font-face {
  font-family: 'aeonik-bold';
  src: url('../fonts/aeonik/Aeonik-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'consolas-regular';
  src: url('../fonts/consolas/Consolas.ttf') format('truetype');
}
@font-face {
  font-family: 'inter-regular';
  src: url('../fonts/inter/Inter-Regular.ttf') format('truetype');
}
